@import url('https://fonts.googleapis.com/css?family=Literata|Vollkorn:400,500');

:root {
  --font-family: 'Literata', serif;
  --font-size: 15pt;

  --blog-title-font-family: 'Vollkorn', serif;
  --blog-title-font-size: 50pt;

  --text-color: #444;

  --menu-font-size: 17pt;

  --background-color: #fff;

  --link-color: #33c;
  --link-decoration-color: #bbf;

  --note-title-decoration-color: #ddd;
  --note-title-text-size: 25pt;
  --note-details-color: #999;
  --note-details-text-size: 13pt;
  --note-tags-background-color: #eee;

  --blockquote-border-color: #1E90FF;
  --blockquote-text-color: #777;
  --pre-background-color: #eee;

  --note-width: 1000px;

  --paging-text-color: #777;
  --footer-text-size: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1c;

    --text-color: #aaa;

    --link-color: #358CDB;
    --link-decoration-color: #32556B;

    --note-title-decoration-color: #444;
    --note-details-color: #666;
    --note-tags-background-color: #333;

    --blockquote-text-color: #ddd;
  }

  .top .title a {
    color: #f3f3f3;
  }
}

@media (max-width: 1099px) {
  :root {
    --font-size: 14pt;
    --blog-title-font-size: 25pt;
    --menu-font-size: 13pt;

    --link-decoration-color: #33c;

    --note-title-text-size: 16pt;
    --note-title-decoration-color: #444;
    --note-details-text-size: 13pt;

    --note-width: 100%;
    --footer-text-size: 12pt;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --link-decoration-color: #358CDB;
      --note-title-decoration-color: #aaa;
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.42105;

  background-color: var(--background-color);
  color: var(--text-color);
}

.top {
  margin: 4em 2em;
  text-align: center;
}

.top h1 {
  font-size: var(--blog-title-font-size);
  font-family: var(--blog-title-font-family);
  white-space: nowrap;
}

.top .title a {
  color: var(--blog-title-link-color);
  text-decoration: none;
}

.top .menu {
  font-size: var(--menu-font-size);
  white-space: nowrap;
}

a[href] {
  color: var(--link-color);
  text-decoration-color: var(--link-decoration-color);
}

a:hover {
  text-decoration-color: var(--link-color);
}

.top .menu a ~ a {
  margin-left: 1em;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.notes.single-note {
  margin-bottom: 2em;
}

.note {
  width: var(--note-width);
}

.note ~ .note {
  margin-top: 3em;
}

.note .title {
  font-weight: bold;
}

.note h1 {
  font-size: var(--note-title-text-size);
}

.note .title a {
  color: var(--text-color);
  text-decoration-color: var(--note-title-decoration-color);
}

.note .title a:hover {
  text-decoration-color: var(--text-color);
}

.note .sub {
  font-size: var(--note-details-text-size);
  padding-bottom: 1em;
  padding-top: .5em;
}

.note .sub > div {
  display: inline;
}

.note .date,
.note .tags {
  color: var(--note-details-color);
}

.note .tag {
  background-color: var(--note-tags-background-color);
  padding: 0 4px;
}

.note .body .media {
  position: relative;

  display: flex;
  justify-content: space-around;
}

* ~ p,
* ~ ol,
* ~ ul,
* ~ pre,
* ~ blockquote,
* ~ h1,
* ~ h2,
* ~ h3,
* ~ h4 {
  margin-top: 1em;
}

blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 2px solid var(--blockquote-border-color);
  color: var(--blockquote-text-color);
}

pre {
  background-color: var(--pre-background-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
  white-space: pre-wrap;
}

.media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

ul {
  list-style: none;
}

ol {
  padding-left: 2em;
}

ul > li {
  padding-left: 2em;
}

ul > li:before {
  content: "–";
  display: block;
  position: absolute;
  margin-left: -1em;
}

li {
  padding-left: .3em;
}

.note img {
  max-width: 1000px;
}

.paging {
  padding: 2em 0;
  color: var(--paging-text-color);
}

.footer {
  font-size: var(--footer-text-size);
  text-align: center;
  padding: 1em 0;
}

.footer {
  opacity: .3;
}

@media all and (max-width: 1099px) {
  .top {
    margin: 2em 0;
  }

  .top .menu a ~ a {
    margin-left: .5em;
  }

  .note > * {
    padding: 0 10px;
  }

  .note .body .media {
    margin: 0 -10px 20px;
  }

  ul > li {
    padding-left: 1em;
  }

  blockquote {
    margin: 1em 0;
  }

  .media iframe {
    margin: 0 !important;
  }

  .note img {
    width: 100%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}