@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  font-size: 18pt;

  font-family: 'Vollkorn', 'Georgia', serif;
}

.top {
  text-align: center;
  margin: 2em 0;
}

.top h1 {
  font-size: 50pt;
}

.top .title a {
  color: #444;
  text-decoration: none;
}

.top .menu {
  font-size: 20pt;
}

a {
  -webkit-text-decoration-color: #ccf;
  text-decoration-color: #ccf;
}

.top .menu a ~ a {
  margin-left: 1em;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.notes.single-note {
  margin-bottom: 2em;
}

.note {
  width: 800px;

  color: #444;
}

.note ~ .note {
  margin-top: 3em;
}

.note .title {
  font-weight: bold;
}

.note h1 {
  font-size: 25pt;
}

.note .title a {
  text-decoration: none;
  color: #444;
}

.note .title a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #bbb;
  text-decoration-color: #bbb;
}

.note .sub {
  font-size: 12pt;
  padding-bottom: .5em;
}

.note .sub > div {
  display: inline;
}

.note .date {
  color: #999;
}

.note .tags {
  color: #999;
}

.note .tag {
  background-color: #eee;
  padding: 0 4px;
}

.note .body .media {
  position: relative;

  display: flex;
  justify-content: space-around;
}

* ~ p,
* ~ ol,
* ~ ul,
* ~ pre,
* ~ blockquote,
* ~ h1,
* ~ h2,
* ~ h3,
* ~ h4 {
  margin-top: 1em;
}

blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 2px solid #1E90FF;
  color: #777;
}

pre {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
  white-space: pre-wrap;
}

.media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

ul {
  list-style: none;
}

ol {
  padding-left: 2em;
}

ul > li {
  padding-left: 2em;
}

ul > li:before {
  content: "–";
  display: block;
  position: absolute;
  margin-left: -1em;
}

li {
  padding-left: .3em;
}

.note .body img {
  max-width: 800px;
}

.paging {
  text-align: center;
  padding: 2em 0;
  color: #777;
}

.footer {
  font-size: 14pt;
  color: #ccc;
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: #ccf;
}

@media all and (max-width: 799px) {
  body {
    font-size: 14pt;
  }

  .top {
    margin: 2em 0;
  }

  .top h1 {
    font-size: 25pt;
  }

  .top .menu {
    font-size: 14pt;
  }

  .note {
    width: 100%;
  }

  .note > * {
    padding: 0 10px;
  }

  .note h1 {
    font-size: 16pt;
  }

  .note .date {
    font-size: 12pt;
  }

  .note .body .media {
    margin: 0 -10px 20px;
  }

  ul > li {
    padding-left: 1em;
  }

  blockquote {
    margin: 1em 0;
  }

  .media iframe {
    margin: 0 !important;
  }

  .body img {
    width: 100%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .footer {
    font-size: 12pt;
  }
}