@font-face {
  font-family: "Literata";
  src: url("Literata[opsz,wght].woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("Literata-Italic[opsz,wght].woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("Mulish[wght].woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic[wght].woff2") format("woff2");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* size factor: 1.250 */

  --base-size: 18px;
  --h1-size: 3.052rem;
  --h2-size: 2.441rem;
  --h3-size: 1.953rem;
  --h4-size: 1.563rem;
  --h5-size: 1.25rem;
  --h6-size: 1rem;
  --small-size: 0.8rem;
  --font-family: "Literata", fallback, serif;
  --font-weight: 300;
  --font-title-weight: 400;
  --title-font-family: "Mulish", fallback, sans-serif;
  color-scheme: light dark;
  --text-color: light-dark(#444, #bbb);
  --title-color: light-dark(#444, #eee);
  --title-decoration-color: light-dark(#ddd, #444);
  --subtitle-color: light-dark(#444, #eee);
  --background-color: light-dark(#fff, #1c1c1c);
  --link-color: light-dark(#33c, #358cdb);
  --link-decoration-color: light-dark(#bbf, #32556b);
  --note-title-decoration-color: light-dark(#ddd, #444);
  --note-details-color: light-dark(#999, #666);
  --blockquote-border-color: #1e90ff;
  --blockquote-text-color: light-dark(#333, #ddd);
  --blockquote-background-color: light-dark(#eee, #333);
  --image-background-color: light-dark(#f5f5f5, #2a2a2a);
  --pre-background-color: light-dark(#eee, #333);
  --separator-color: light-dark(#ccc, #666);
  --note-width: 90%;
  --paging-text-color: light-dark(#aaa, #555);
}

@media (width <=599px) {
  :root {
    /* size factor: 1.067 */

    --base-size: 18px;
    --h1-size: 1.383rem;
    --h2-size: 1.296rem;
    --h3-size: 1.215rem;
    --h4-size: 1.138rem;
    --h5-size: 1.067rem;
    --h6-size: 1rem;
    --small-size: 0.937rem;
    --font-weight: 400;
    --font-title-weight: 500;
    --link-decoration-color: light-dark(#33c, #358cdb);
    --note-title-decoration-color: light-dark(#444, #eee);
    --note-width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--base-size);

  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-optical-sizing: auto;
  line-height: 1.6;
  text-wrap: pretty;
  background-color: var(--background-color);
  color: var(--text-color);

  overflow: auto;
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.3;
  margin: 1rem 0 0;
  color: var(--title-color);
  text-wrap: balance;
  font-weight: var(--font-title-weight);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

a[href] {
  color: var(--link-color);
  text-decoration-color: var(--link-decoration-color);
  overflow-wrap: break-word;
}

a:hover {
  text-decoration-color: var(--link-color);
}

a[href^="http"]:not([href*="fm.alexeypegov."]) {
  &::after {
    content: "";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.2em;
    vertical-align: super;
    background-color: var(--link-color);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M 40.960938 4.9804688 A 2.0002 2.0002 0 0 0 40.740234 5 L 28 5 A 2.0002 2.0002 0 1 0 28 9 L 36.171875 9 L 22.585938 22.585938 A 2.0002 2.0002 0 1 0 25.414062 25.414062 L 39 11.828125 L 39 20 A 2.0002 2.0002 0 1 0 43 20 L 43 7.2460938 A 2.0002 2.0002 0 0 0 40.960938 4.9804688 z M 12.5 8 C 8.3826878 8 5 11.382688 5 15.5 L 5 35.5 C 5 39.617312 8.3826878 43 12.5 43 L 32.5 43 C 36.617312 43 40 39.617312 40 35.5 L 40 26 A 2.0002 2.0002 0 1 0 36 26 L 36 35.5 C 36 37.446688 34.446688 39 32.5 39 L 12.5 39 C 10.553312 39 9 37.446688 9 35.5 L 9 15.5 C 9 13.553312 10.553312 12 12.5 12 L 22 12 A 2.0002 2.0002 0 1 0 22 8 L 12.5 8 z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px dashed var(--text-color);
  background: transparent;
}

header {
  margin: 4rem 0;
  text-align: center;

  @media (width <=599px) {
    margin: 2rem 0;
  }

  &>h1 {
    white-space: nowrap;
    font-family: var(--title-font-family);

    &>a[href] {
      color: var(--title-color);
      text-decoration-color: var(--title-decoration-color);

      &:hover {
        text-decoration-color: var(--title-color);
      }

      @media (width <=599px) {
        text-decoration-color: var(--title-color);
      }
    }
  }

  nav {
    font-family: var(--title-font-family);
    font-size: var(--h5-size);
    padding-top: 0.5rem;

    a~a {
      margin-left: 1rem;

      @media (width <=599px) {
        margin-left: 0.5rem;
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media (width <=599px) {
    padding: 0 1rem 0;
  }
}

article {
  width: var(--note-width);
  max-width: 800px;

  &~& {
    margin-top: 2.5rem;

    @media (width <=599px) {
      margin-top: 1rem;
    }

    &::before {
      content: "⋯";
      display: block;
      text-align: center;
      font-size: var(--h2-size);
      color: var(--title-decoration-color);
      margin-bottom: 2.5rem;

      @media (width <=599px) {
        margin-bottom: 1rem;
      }
    }
  }

  &>h2 {
    color: var(--title-color);
    font-size: var(--h4-size);
    font-family: var(--title-font-family);
  }

  &>h3 {
    padding-top: 2rem;
    color: var(--subtitle-color);
  }

  &>h2 {
    &>a[href] {
      color: var(--title-color);
      text-decoration-color: var(--note-title-decoration-color);

      &:hover {
        text-decoration-color: var(--title-color);
      }
    }
  }

  &>.sub {
    font-size: var(--h6-size);
    font-family: var(--title-font-family);
    font-weight: var(--font-title-weight);

    :is(time, .tags) {
      color: var(--note-details-color);
    }

    .tags::before {
      content: "·";
    }

    @media (width <=599px) {
      margin-left: 0;
    }
  }

  img {
    display: block;
    object-fit: contain;
    height: auto;
    max-width: 100%;

    &~& {
      padding-top: 1rem;
    }
  }

  p:has(> img) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--image-background-color);
    padding-inline: 1rem;
    margin-inline: -2rem;

    @media (width <=599px) {
      padding-inline: 0;
      margin-inline: -1rem;
    }
  }

  &.object {
    text-align: left;

    .sub {
      margin-bottom: 0.5rem;

      time {
        color: var(--title-color);
      }

      a {
        text-decoration-color: var(--note-title-decoration-color);

        &:hover {
          text-decoration-color: var(--title-color);
        }
      }
    }
  }

  p+.media {
    margin-top: 1rem;
  }

  .media {
    width: calc(100% + 4rem);
    margin-inline: -2rem;
    aspect-ratio: 16 / 9;

    @media (width <=599px) {
      width: calc(100% + 2rem);
      margin-inline: -1rem;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &[data-view="post"] {
    p {
      margin-top: 1rem;
    }

    blockquote {
      p:first-child {
        margin-top: 0;
      }
    }

    &>.text {
      h1 {
        padding-top: 1rem;
        color: var(--subtitle-color);
      }
    }
  }

  &[data-view="tweet"] {
    text-align: left;
    font-size: var(--h4-size);
    color: var(--title-color);
  }
}

:where(ul, pre, blockquote) {
  margin-top: 1rem;
}

blockquote {
  padding: 1rem 2rem;
  margin-inline: -2rem;
  color: var(--blockquote-text-color);
  font-size: var(--h5-size);
  font-weight: var(--font-weight);
  background-color: var(--blockquote-background-color);
  text-align: justify;
  text-align-last: left;
  hyphens: auto;
  hanging-punctuation: first last;

  &~& {
    margin-top: 3rem;
  }

  @media (width <=599px) {
    box-sizing: border-box;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: 0;
    padding: 1rem;
  }
}

pre {
  background-color: var(--pre-background-color);
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-wrap;
}

li {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

:is(ol, ul) {
  margin-top: 1rem;
}

ul {
  list-style-type: none;

  &>li::before {
    content: "\2022";
    display: block;
    position: absolute;
    margin-left: -1rem;
  }
}

nav.paging {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  align-items: center;

  padding-block: 2rem;
  color: var(--paging-text-color);

  .arrow {
    font-size: 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 1.5rem;
      background-color: var(--paging-text-color);
      mask-repeat: no-repeat;
      mask-size: contain;
      transition: background-color 0.2s;
    }

    &:hover::before {
      background-color: var(--link-color);
    }

    &#prev::before {
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 24' fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='38' y1='12' x2='2' y2='12'/%3E%3Cpolyline points='10 6 2 12 10 18'/%3E%3C/svg%3E");
    }

    &#next::before {
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 24' fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='2' y1='12' x2='38' y2='12'/%3E%3Cpolyline points='30 6 38 12 30 18'/%3E%3C/svg%3E");
    }

    @media (max-width: 430px),
    (max-width: 932px) and (orientation: landscape),
    (hover: none) and (pointer: coarse) {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: var(--paging-text-color);
    }
  }

  .key:before {
    content: "Ctrl + ⇆";

    @media (max-width: 430px),
    (max-width: 932px) and (orientation: landscape),
    (hover: none) and (pointer: coarse) {
      content: "Смахни";
    }
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  opacity: 0.3;
  font-size: var(--base-size);
  font-family: var(--title-font-family);
}