@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* size factor: 1.250 */

  --base-size: 18px;
  --h1-size: 3.052rem;
  --h2-size: 2.441rem;
  --h3-size: 1.953rem;
  --h4-size: 1.563rem;
  --h5-size: 1.25rem;
  --h6-size: 1rem;
  --small-size: 0.8rem;
  --font-family: "Literata", fallback, serif;
  --font-weight: 400;
  --title-font-family: "Mulish", fallback, sans-serif;
  --text-color: #444;
  --title-color: #444;
  --title-decoration-color: #ddd;
  --subtitle-color: #444;
  --background-color: #fff;
  --link-color: #33c;
  --link-decoration-color: #bbf;
  --external-link-svg: transparent url("external-33c.svg") no-repeat 100% 70%;
  --note-title-decoration-color: #ddd;
  --note-details-color: #999;
  --blockquote-border-color: #1e90ff;
  --blockquote-text-color: #333;
  --blockquote-background-color: #eee;
  --pre-background-color: #eee;
  --note-width: 90%;
  --paging-text-color: #aaa;
}

@media (width <=599px) {
  :root {
    /* size factor: 1.067 */

    --base-size: 18px;
    --h1-size: 1.383rem;
    --h2-size: 1.296rem;
    --h3-size: 1.215rem;
    --h4-size: 1.138rem;
    --h5-size: 1.067rem;
    --h6-size: 1rem;
    --small-size: 0.937rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1c;
    --text-color: #bbb;
    --title-color: #eee;
    --title-decoration-color: #444;
    --subtitle-color: #eee;
    --link-color: #358cdb;
    --link-decoration-color: #32556b;
    --external-link-svg: transparent url("external-358cdb.svg") no-repeat 100% 70%;
    --note-title-decoration-color: #444;
    --note-details-color: #666;
    --blockquote-text-color: #ddd;
    --blockquote-background-color: #333;
    --separator-color: #666;
    --paging-text-color: #555;
  }
}

@media (width <=599px) {
  :root {
    --link-decoration-color: #33c;
    --note-title-decoration-color: #444;
    --note-width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --link-decoration-color: #358cdb;
      --note-title-decoration-color: #eee;
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--base-size);
  /* 16px */
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-optical-sizing: auto;
  line-height: 1.43;
  background-color: var(--background-color);
  color: var(--text-color);
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.3;
  margin: 1rem 0 0;
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

a[href] {
  color: var(--link-color);
  text-decoration-color: var(--link-decoration-color);
  overflow-wrap: break-word;
}

a:hover {
  text-decoration-color: var(--link-color);
}

a[href^="http"]:not([href*="fm.alexeypegov."]) {
  background: var(--external-link-svg);
  padding-right: 18px;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px dashed var(--text-color);
  background: transparent;
}

header {
  margin: 4rem 0;
  text-align: center;

  @media (width <=599px) {
    margin: 2rem 0;
  }

  &>h1 {
    white-space: nowrap;
    font-family: var(--title-font-family);

    &>a[href] {
      color: var(--title-color);
      text-decoration-color: var(--title-decoration-color);

      &:hover {
        text-decoration-color: var(--title-color);
      }

      @media (width <=599px) {
        text-decoration-color: var(--title-color);
      }
    }
  }

  nav {
    font-family: var(--title-font-family);
    font-size: var(--h5-size);
    padding-top: 0.5rem;

    a~a {
      margin-left: 1rem;

      @media (width <=599px) {
        margin-left: 0.5rem;
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media (width <=599px) {
    padding: 0 1rem 0;
  }
}

article {
  width: var(--note-width);
  max-width: 800px;

  &~& {
    margin-top: 5rem;

    @media (width <=599px) {
      margin-top: 2rem;
    }
  }

  &>h2 {
    color: var(--title-color);
    font-size: var(--h4-size);
    font-family: var(--title-font-family);
  }

  &>h3 {
    padding-top: 2rem;
    color: var(--subtitle-color);
  }

  &>h2 {
    &>a[href] {
      color: var(--title-color);
      text-decoration-color: var(--note-title-decoration-color);

      &:hover {
        text-decoration-color: var(--title-color);
      }
    }
  }

  &>.sub {
    font-size: var(--h6-size);
    font-family: var(--title-font-family);

    :is(time, .tags) {
      color: var(--note-details-color);
    }

    .tags::before {
      content: "·";
    }

    @media (width <=599px) {
      margin-left: 0;
    }
  }

  img {
    object-fit: contain;
    height: auto;
    max-width: 100%;

    @media (width <=599px) {
      width: calc(100% + 2rem);
      max-width: unset;
      height: auto;
      margin-left: -1rem;
      object-fit: contain;
    }

    &~& {
      padding-top: 1rem;
    }
  }

  &.object {
    text-align: left;

    .sub {
      margin-bottom: 0.5rem;

      time {
        color: var(--title-color);
      }

      a {
        text-decoration-color: var(--note-title-decoration-color);

        &:hover {
          text-decoration-color: var(--title-color);
        }
      }
    }
  }

  .media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    @media (width <=599px) {
      width: calc(100% + 2rem);
      margin-left: -1rem;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (width <=599px) {
        margin: 0 !important;
      }
    }
  }

  &[data-view="post"] {
    p {
      margin-top: 1rem;
    }

    blockquote {
      p {
        margin-top: 0;
      }
    }

    &>.text {
      h1 {
        padding-top: 1rem;
        color: var(--subtitle-color);
      }
    }
  }

  &[data-view="tweet"] {
    text-align: left;
    font-size: var(--h4-size);
    color: var(--title-color);
  }
}

:where(ul, pre, blockquote) {
  margin-top: 2rem;
}

blockquote {
  padding: 1rem 2rem;
  color: var(--blockquote-text-color);
  font-size: var(--h5-size);
  background-color: var(--blockquote-background-color);

  &~& {
    margin-top: 3rem;
  }

  @media (width <=599px) {
    box-sizing: border-box;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 1rem;
  }
}

pre {
  background-color: var(--pre-background-color);
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-wrap;
}

li {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

:is(ol, ul) {
  margin-top: 1rem;
}

ul {
  list-style-type: none;

  &>li::before {
    content: "\2022";
    display: block;
    position: absolute;
    margin-left: -1rem;
  }
}

nav.paging {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  align-items: baseline;

  padding-top: 1rem;
  color: var(--paging-text-color);

  .arrow {
    font-size: x-large;

    @media (max-width: 430px),
    (max-width: 932px) and (orientation: landscape),
    (hover: none) and (pointer: coarse) {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: var(--paging-text-color);
    }
  }

  .key:before {
    content: "Ctrl + ⇆";

    @media (max-width: 430px),
    (max-width: 932px) and (orientation: landscape),
    (hover: none) and (pointer: coarse) {
      content: "Смахни";
    }
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  opacity: 0.3;
  font-size: var(--base-size);
  font-family: var(--title-font-family);
}
