@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
  /* size factor: 1.250 */

  --base-size: 18px;

  --h1-size: 3.052rem;
  --h2-size: 2.441rem;
  --h3-size: 1.953rem;
  --h4-size: 1.563rem;
  --h5-size: 1.25rem;
  --h6-size: 1rem;

  --small-size: .8rem;
}

@media (max-width: 1099px) {
  :root {
    /* size factor: 1.067 */

    --base-size: 18px;

    --h1-size: 1.383rem;
    --h2-size: 1.296rem;
    --h3-size: 1.215rem;
    --h4-size: 1.138rem;
    --h5-size: 1.067rem;
    --h6-size: 1rem;

    --small-size: 0.937rem;
  }
}

:root {
  --font-family:  "Literata", Fallback, serif;
  --title-font-family: 'Mulish', Fallback, sans-serif;;

  --text-color: #444;
  --title-color: #444;
  --title-decoration-color: #ddd;
  --subtitle-color: #444;

  --background-color: #fff;

  --link-color: #33c;
  --link-decoration-color: #bbf;
  --external-link-svg: transparent url(external-33c.svg) no-repeat 100% 70%;

  --note-title-decoration-color: #ddd;
  --note-details-color: #999;

  --blockquote-border-color: #1E90FF;
  --blockquote-text-color: #777;
  --pre-background-color: #eee;

  --note-width: 1000px;

  --paging-text-color: #777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1c;

    --text-color: #bbb;
    --title-color: #eee;
    --title-decoration-color: #444;
    --subtitle-color: #eee;

    --link-color: #358CDB;
    --link-decoration-color: #32556B;
    --external-link-svg: transparent url(external-358cdb.svg) no-repeat 100% 70%;


    --note-title-decoration-color: #444;
    --note-details-color: #666;

    --blockquote-text-color: #ddd;
  }
}

@media (max-width: 1099px) {
  :root {
    --link-decoration-color: #33c;
    --note-title-decoration-color: #444;

    --note-width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --link-decoration-color: #358CDB;
      --note-title-decoration-color: #eee;
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--base-size); /* 16px */
}

body {
  font-family: var(--font-family);

  line-height: 1.43;

  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 1rem 0 0;
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

a[href] {
  color: var(--link-color);
  text-decoration-color: var(--link-decoration-color);
  overflow-wrap: break-word;
}

a:hover {
  text-decoration-color: var(--link-color);
}

a[href ^= 'http']:not([href *= 'fm.alexeypegov.']) {
    background: var(--external-link-svg);
    padding-right: 18px;
}

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px dashed var(--text-color);
    background: transparent;
}

header {
  margin: 4em 0em;
  text-align: center;
}

header > h1 {
  white-space: nowrap;
  font-family: var(--title-font-family);
}

header > h1 > a[href] {
  color: var(--title-color);
  text-decoration-color: var(--title-decoration-color);
}

header nav {
  font-family: var(--title-font-family);
  font-size: var(--h5-size);
  padding-top: .5em;
}

header nav a ~ a {
  margin-left: 1em;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

article {
  width: var(--note-width);
}

article ~ article {
  margin-top: 3rem;
}

article > h2 {
  color: var(--title-color);
  font-size: var(--h4-size);
  font-family: var(--title-font-family);
}

article > h3 {
  padding-top: 2em;
  color: var(--subtitle-color);
}

article > h2 > a[href] {
  color: var(--title-color);
  text-decoration-color: var(--note-title-decoration-color);
}

article > h2 > a:hover {
  text-decoration-color: var(--title-color);
}

article > .sub {
  font-size: var(--h6-size);
  font-family: var(--title-font-family);
}

article > .sub > div {
  display: inline;
}

article time,
article .tags {
  color: var(--note-details-color);
}

article .tags:before {
  content: "•";
}

article .tag:not(:first-child) {
  padding-left: .2em;
}

article .media {
  position: relative;

  height: 0;
  padding-bottom: 56.25%;
}

article > .text h1 {
  padding-top: 1em;
  color: var(--subtitle-color);
}

p, ul, pre, blockquote {
  margin-top: 1em;
}

blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 2px solid var(--blockquote-border-color);
  color: var(--blockquote-text-color);
  font-size: var(--h6-size);
}

pre {
  background-color: var(--pre-background-color);
  padding: 1em;
  border-radius: 5px;
  white-space: pre-wrap;
}

.media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
  margin-top: 1em;
}

li {
  margin-top: .5em;
}

ul > li:before {
/*  content: "\00B7";*/
  content: "\2022";
  
  display: block;
  position: absolute;
  margin-left: -1em;
}

ol > li {
  counter-increment: item;
}

ol > li:before {
  content: counter(item) ".";

  display: block;
  position: absolute;
  margin-left: -1.2em;
}

article img {
  max-width: 1000px;
}

nav.paging {
  padding: 2em 0;
  color: var(--paging-text-color);
}

footer {
  text-align: center;
  padding: 1em 0;
  opacity: .3;
  font-size: var(--small-size);
}

@media all and (max-width: 1099px) {
  header {
    margin: 2em 0;
  }

  header nav a ~ a {
    margin-left: .5em;
  }

  main, footer {
    padding: 0 1em 1em 1em;
  }

  article .media {
    margin: 0 -1em 1em;
  }

  article > h1 {
    margin-left: 0;
  }

  article > .sub {
    margin-left: 0;
  }

  ul > li {
    padding-left: 1em;
  }

  ol > li {
    padding-left: 1.2em;
  }

  blockquote {
    margin: 1em 0;
  }

  .media iframe {
    margin: 0 !important;
  }

  article img {
    width: 100%;
    width: calc(100% + 2em);
    margin-left: -1em;
  }
}
