@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  font-size: 18pt;

  font-family: 'Vollkorn', serif;
}

.top {
  text-align: center;
  margin: 30px 0 50px;

  font-size: 50pt;
}

.top .title > a {
  color: #000;
  text-decoration: none;
}

.top .title > a:hover {
  color: #444;
}

.top .menu {
  font-size: 20pt;
}

.top .menu a {
  text-decoration: none;
}

.top .menu a ~ a {
  margin-left: 1em;
}

.top .menu a:hover {
  text-decoration: underline;
}

.notes {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.notes.single-note {
  margin-bottom: 2em;
}

.note {
  width: 800px;

  color: #444;
}

.note ~ .note {
  margin-top: 3em;
}

.note .title {
  font-weight: bold;
  font-size: 20pt;
}

.note .title a {
  text-decoration: none;
  color: #000;
}

.note .title a:hover {
  text-decoration: underline;
  text-decoration-color: #bbb;
}

.note .date {
  font-size: 12pt;
  color: #999;
}

.note .body {
  margin-top: 10px;
}

.note .body .media {
  position: relative;

  display: flex;
  justify-content: space-around;
}

.note .body * ~ p,
.note .body * ~ ol,
.note .body * ~ ul,
.note .body * ~ pre,
.note .body * ~ blockquote {
  margin-top: 1em;
}

.note .body blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 2px solid #1E90FF;
  color: #777;
}

.note .body pre {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
  white-space: pre-wrap;
}

.note .body .media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.note .body ul {
  list-style: square;
}

.note .body ul, ol {
  padding-left: 2em;
}

.note .body img {
  max-width: 800px;
}

.paging {
  text-align: center;
  padding: 2em 0;
  color: #777;
}

.footer {
  font-size: 14pt;
  color: #ccc;
  text-align: center;
  padding: 1em 0;
}

@media all and (max-width: 799px) {
  body {
    font-size: 14pt;
  }

  .top {
    margin: 1em 0;
    font-size: 22pt;
  }

  .top .menu {
    font-size: 14pt;
  }

  .note {
    width: 100%;
  }

  .note > div {
    padding: 0 10px;
  }

  .note .title {
    font-size: 16pt;
  }

  .note .date {
    font-size: 12pt;
  }

  .note .body .media {
    margin: 0 -10px 20px;
  }

  .note .body ul, ol {
    padding-left: 15px;
  }

  .note .body blockquote {
    margin: 1em 0;
  }

  .note .body .media iframe {
    margin: 0 !important;
  }

  .note .body img {
    width: 100%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .footer {
    font-size: 12pt;
  }
}